@model HostelManagementSystem.Models.Medical

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Medical</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MedicalId" class="control-label"></label>
                <input asp-for="MedicalId" class="form-control" />
                <span asp-validation-for="MedicalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <select asp-for="StudentId" class ="form-control" asp-items="ViewBag.StudentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Illness" class="control-label"></label>
                <input asp-for="Illness" class="form-control" />
                <span asp-validation-for="Illness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Treatment" class="control-label"></label>
                <input asp-for="Treatment" class="form-control" />
                <span asp-validation-for="Treatment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
