@model HostelManagementSystem.Models.Hostel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Hostel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HostelId" class="control-label"></label>
                <input asp-for="HostelId" class="form-control" />
                <span asp-validation-for="HostelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HostelName" class="control-label"></label>
                <input asp-for="HostelName" class="form-control" />
                <span asp-validation-for="HostelName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HostelLocation" class="control-label"></label>
                <input asp-for="HostelLocation" class="form-control" />
                <span asp-validation-for="HostelLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
