@model HostelManagementSystem.Models.Hostel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hostel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HostelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HostelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HostelLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HostelLocation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.HostelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
